.sectionStyle {
  height: "100vh";
  width: "100%";
  display: "flex";
}
.divStyle {
  display: inline-flex;
}
.bgImgAdd {
  background: url("../images/pizza_box.png") left top no-repeat,
    url("../images/dominos-bread.png") right top no-repeat,
    url("../images/dominos-bread1.png") right bottom no-repeat;
}
.furnitureImg {
  background-image: url("../images/interior.jpg");
}

@media only screen and (max-width: 767px) {
  .sectionStyle {
    height: "100vh";
    width: "100%";
    display: block;
  }

  .divStyle {
    display: block;
  }
}
